

body{
font-family: 'Raleway', sans-serif;
color: #374151;
}
.not-visible{
transform: translateY(100px);
 opacity: 0;
}

.visible{

animation: slide 0.8s ease-in-out forwards;

}

.visible-short{
  animation: slide 0.5s ease-in-out forwards;
}

.visible-backwards-short{
  animation: slide-back 0.5s ease-in-out forwards;
}
.visible-backwards{
animation: slide-back 1s ease-in-out forwards; }





@media (min-width: 1024px){


.aspect-1{

aspect-ratio: 0.85;

}


}



@keyframes slide{
  from{
    transform: translateY(100px);
    opacity: 0;
  }
  to{

    transform: translateY(0);
    opacity: 1;
  }

}

@keyframes slide-back{
  from{
    transform: translateY(-50px);
    opacity: 0;
  }
  to{

    transform: translateY(0);
    opacity: 1;
  }

}
